<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-800">
{% include "Nav.html" %}
<div class="bg-slate-700 grid grid-cols-5 gap-[2vw] p-5">
    {% for Key, Prod in Prods.items %}
    	<div class="bg-slate-900 flex flex-col items-center h-[100%] w-[100%] p-[1vw] text-slate-200">
            <img class="size-[80%]" src="{{ Prod.Img }}">
            <p>{{ Key }}</p>
            <p class="">{{ Prod.Price }} Rs</p>
        </div>
    {% endfor %}
</div>
</body>
</html>